.master-russian
    &__section
        display: flex
        background-color: #FF5A5F
    &__title
        max-width: 600px
    &__descr
        max-width: 600px
        color: #FFFFFF
        margin-top: 40px
    &__left
        z-index: 1
    &__right
        color: #FF4147
        font-size: 100px
        z-index: 0
    &__stairs
        &-icon
            position: absolute
            top: 22%
            right: 15%
            transform: rotate(10deg)
    &__trophy
        &-icon
            position: absolute
            top: 26%
            left: 60%
            transform: rotate(-10deg)